* {
    font-family: "DM Sans", sans-serif;
    color: rgb(104, 92, 92);
    box-sizing: border-box;
}
body {
    background-color: rgb(219, 207, 213);
}
.menu {
    display: block;
    position: static;
    border-style: solid;
    padding-bottom: 1%;
    background-color: rgb(126, 160, 138);
    font-family:Tinos, serif;
    font-weight: bold;
}
h1 {
    font-family: Tinos, serif;
    font-weight: 700;
    color: rgb(67, 98, 164);
    text-align: center;
    word-spacing: normal;
    transition: font-size 3s ease-in-out;
}
h1:hover {
    font-size: 40px;
}
nav {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    word-spacing: 10px;
}
a {
    text-decoration: none;
}
a[href="index.html"] {
    color: rgb(67, 98, 164);
}
a[href="projects.html"] {
    color: rgb(67, 98, 164);
    word-spacing: normal;
}
a:hover {
    text-decoration: underline;
}
.intro {
    font-size: 300%;
    font-weight: 700;
    text-align: right;
}
h2 {
    text-transform: uppercase;
}
p {
    font-weight: 300;
}
h3 {
    text-transform: uppercase;
}
ul {
    list-style-type: square;
    line-height: 2;
}
footer {
    color: rgb(255, 255, 255);
    font-size:small;
    display: block;
    background-color: rgb(126, 160, 138);
    margin-top: 2rem;
}
.contact {
    list-style: none;
}
i:hover {
    font-size: 200%;
}
i {
    transition: font-size 2s ease-in;
}

/* Project page specific */
img {
    border-style: dashed;
    border-color: rgb(255, 255, 255);
    border-width: thin;
}
.second-h2 {
    text-align: center;
    text-decoration-line: overline underline;
}
.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    background-color: rgb(126, 160, 138);
    height: 10rem;
}